.cloud2 {
  height:100%;
  background: rgba(255, 255, 255, 0.582);
  display: flex;
  flex-wrap:wrap;
  align-content: flex-start;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:200;
  padding: 35px 35px 35px 35px;
}
.zoomContainer {
  border-radius:10px;
  margin: 5px;
}
.zoomContainer img {
  padding-left: 45px;
  display:block;
  margin:0 0 1em;
  max-width:100%;
  height:auto;
  border-radius:5px;
  transition:transform 0.5s;
}
.zoomContainer img:hover {
  transform:scale(1.7) ;
}
.enter {
  clear: both;
}
