.cloud3{
  margin-top: 80px;
  margin-left: auto;
  float: center;
  margin-right: auto;
  height:100%;
  background: rgba(255, 255, 255, 0.582);
  width: 80%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:200;
  padding: 35px 35px 35px 35px;
}